/* Gør det muligt at når man trykker på siderne, så ruller den stille og roligt ned til den valgte side. Dette er en meget ny funktion, og derfor understøttes det ikke til alle browser.*/
html{
	scroll-behavior: smooth;
}

body{
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* Alle ting der bliver brugt til min navigation */
nav {
	width: 100%;
	background: #02254e;
	position: fixed;
	top: 0;
	z-index: 100%;
	height: 100px;
}

nav ul {
	margin: 0;
	padding-top: 36px;
}

nav li {
 	float: right;
	list-style: none;
}

nav li a {
	padding: 10px 25px;
	text-decoration: none;
  	color:#ffffff;
	text-align: center;
	font-family: 'Century Gothic';
	font-weight: 100;
	font-size: 15pt;
}

/* Denne funktion bruges så når man holder musen over menu punkterne så skiftes farven til pink i stedet for den valgte hvide farve. */
nav li a:hover {
	color:#f49d75;
}

nav li a:active{
	color: #f49d75;
	font-weight: 100;
}

.mataslogo {
	    display: table;
	    float: left;
			padding-top: 21px;
			padding-left: 21px;
			height: 50px;
			width: 209px;
}

/* ----------------------------------------------Responsivitet--------------------------------------------
@media only screen and (min-width: 1024px) { /* ------------RESPONSIV TIL iPAD PRO--------------------

}

@media only screen and (min-width: 768px) { /* ------------RESPONSIV TIL ALMIDNELIG iPAD--------------*
	.mataslogo {
		    display: table;
		    float: left;
				padding-top: 20px;
				padding-left: 21px;
				height: 50px;
				width: 210px;
	}
--------------*/


/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* For at gøre tingene mere overskueligt så er min CSS stylet i forhold til min navigation i HTML5 hvor "kontakt mig" kommer først, og Forsiden til sidst. */
section{
	height: 1000px;
	width: 100%
}

#ikoner{
	height: 1000px;
	background: #ffffff;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#knapper{
	height: 1000px;
	background: #f6f1ee;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#typogafi{
	height: 1000px;
	background: #FFB1B8;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#farver{
	padding-top: 150px;
	height: 1080px;
	background: #f6f1ee;
	display: inline-block;
	width: 100%;
}

.flex-container-wrap {
		padding: 10px;
	  margin: 10px;
	  list-style: none;
	  -ms-box-orient: horizontal;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -moz-flex;
	  display: -webkit-flex;
	  display: flex;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.font-CTA {
  background: #000000;
  padding: 10px;
  width: 150px;
  height: 150px;

  line-height: 150px;
  color: white;
	font-family: 'Century Gothic'
  font-size: 2em;
  text-align: center;
}

.kampagnebaggrund {
  background: #f6f1ee;
	border-radius: 1px;
	background-color: #000000
  padding: 10px;
  width: 150px;
  height: 150px;

  line-height: 150px;
  color: #000000;
	font-family: 'Century Gothic'
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* Alle elementer til forsiden ligger under denne sektion*/

#introduktion{
	padding-top: 150px;
	height: 750px;
	background: #ffffff;
	display: inline-block;
	width: 100%;
}

h1 {
	margin: 0;
	padding-top: 20px;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 45pt;
	font-weight: 600;
}

h2 {
	margin: 60px 0 0 0;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 20pt;
	font-weight: 300;
}

h3 {
	margin: 50px 0 0 0;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 20pt;
	font-weight: 700;
}

.flex-container-introduktion {
  display: flex;
  justify-content: center;
	padding-top: 60px;
}

.logomatas {
	display: block;
  margin: 0;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 15px;
	height: 50px;
	width: 209px;
}

.UCL-Logo {
	height: 91px;
	width: 114px;
	display: block;
  margin: 0;
	padding-left: 80px;
	padding-right: 80px;

}

.hesehuslogo {
	height: 195px;
	width: 251px;
	display: block;
  margin: 0;
	padding-left: 40px;
	padding-top: 20px;
}

/* ------------------------------------------Pil op øverst på siden----------------------------------------*/
.pilop{
	width: 5%;
	padding-right: 50px;
	float: right;
}
