/* Gør det muligt at når man trykker på siderne, så ruller den stille og roligt ned til den valgte side. Dette er en meget ny funktion, og derfor understøttes det ikke til alle browser.*/	
html{
	scroll-behavior: smooth;
}

body{
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* Alle ting der bliver brugt til min navigation */
nav {
	width: 100%;
	background: #162324;
	position: fixed;
	top: 0;
	z-index: 100%;
}

nav ul {
	padding: 25px;
	padding-top: 25px;
}

nav li {
 	float: right;
	list-style: none;
}
nav li a {
	padding: 10px 10px;
	text-decoration: none;
  	color:#FFFFFF;
	text-align: center;
	font-family: 'Sulphur Point', sans-serif;
	font-weight: 300;
}

/* Denne funktion bruges så når man holder musen over menu punkterne så skiftes farven til pink i stedet for den valgte hvide farve. */
nav li a:hover {
	color:#E7345F;
}

nav li a:active{
	color: #E7345F;
	font-weight: 700;
}


/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* For at gøre tingene mere overskueligt så er min CSS stylet i forhold til min navigation i HTML5 hvor "kontakt mig" kommer først, og Forsiden til sidst. */
section{
	height: 1000px;
	width: 100%
}

#kontaktmig{
	height: 800px;
	background: #C0C8CA;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#tidligereprojekter{
	height: 1240px;
	background: #FFFFFF;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#minefaerdigheder{
	height: 1070px;
	background: #FFB1B8;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#hvemerjeg{
	height: 740px;
	background: #ffffff;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* Alle elementer til forsiden ligger under denne sektion*/

#forside{
	height: 720px;
	background: #162324;
	display: inline-block;
	width: 100%;
}

.pilop{
	width: 5%;
	padding-right: 50px;
	float: right;
}
