/* Gør det muligt at når man trykker på siderne, så ruller den stille og roligt ned til den valgte side. Dette er en meget ny funktion, og derfor understøttes det ikke til alle browser.*/
html{
	scroll-behavior: smooth;
}

body{
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* Alle ting der bliver brugt til min navigation */
nav {
	width: 100%;
	background: #02254e;
	position: fixed;
	top: 0;
	z-index: 100%;
	height: 100px;
}

nav ul {
	margin: 0;
	padding-top: 36px;
}

nav li {
 	float: right;
	list-style: none;
}

nav li a {
	padding: 10px 25px;
	text-decoration: none;
  	color:#ffffff;
	text-align: center;
	font-family: 'Century Gothic';
	font-weight: 100;
	font-size: 15pt;
}

/* Denne funktion bruges så når man holder musen over menu punkterne så skiftes farven til pink i stedet for den valgte hvide farve. */
nav li a:hover {
	color:#f49d75;
}

nav li a:active{
	color: #f49d75;
	font-weight: 100;
}

.mataslogo {
	    display: table;
	    float: left;
			padding-top: 21px;
			padding-left: 21px;
}


/* ------------------------------------------------NY SEKTION----------------------------------------------*/


#ikoner{
	height: 1200px;
	background: #ffffff;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#knapper{
	height: 1200px;
	background: #f6f1ee;
	display: inline-block;
	width: 100%;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#typografi{
	padding-top: 150px;
	height: 900px;
	background-color: #ffffff;
	display: inline-block;
	width: 100%;
}
.typografih h2 {
	margin: 0;
	padding-top: 10px;
	padding-left: 50px;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 42pt;
	font-weight: 600;
	text-transform: uppercase;
}
.typografih h4 {
	margin-top: 70px;
	padding-left: 50px;
	padding-right: 200px;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 20pt;
	font-weight: 300;
	line-height: 40px;
}
.tsh p {
	margin: 0 1500px 0 0;
	padding-left: 50px;
	padding-top: 70px;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 20pt;
	font-weight: 600;
}
.row0 {
	margin-left: 50px;
}
.row0 h2 {
	float: left;
	color: black;
	margin: 0;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 34px;
	font-weight: 400;
}
.row1 {
	margin-left: 50px;
}
.row1 h2 {
	float: left;
	color: black;
	margin: 0;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 16px;
	font-weight: 600;
}
.row2 {
	margin-left: 50px;
}
.row2 h2 {
	float: left;
	color: black;
	margin: 0;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 15px;
	font-weight: 600;
}
.row3 {
	margin-left: 50px;
}
.row3 h2 {
	float: left;
	color: black;
	margin: 0;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 13px;
	font-weight: 400;
}
.row4 {
	margin-left: 50px;
}
.row4 h2 {
	float: left;
	color: black;
	margin: 0;
	float: left;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 13px;
	font-weight: 400;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Create three equal columns that floats next to each other */
.column {
	float: left;
  width: 500px;
	padding-top: 20px;
}
/* ------------------------------------------------NY SEKTION----------------------------------------------*/

#farver{
	padding-top: 150px;
	height: 920px;
	background: #f6f1ee;
	display: inline-block;
	width: 100%;
}

#farver h2 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 45pt;
	font-weight: 600;

}

.flex-container-wrap {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0 200px 0 200px;
	justify-content: center;
}
.font-CTA {
  background: #000000;
  padding: 10px;
  width: 300px;
  height: 200px;

  line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.ChatCTA {
  background: #002643;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.oenskeliste {
  background: #6b3b45;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.spar-tilbud {
  background: #C94C36;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.natur {
  background: #53811E;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.favoritter {
  background: #E85A61;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.abonnerCTA {
  background: #73b4c7;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.fastlavpris {
  background: #f49d75;
  padding: 10px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.flerevarianter {
  background: #E9B1AC;
  padding: 10px;
  width: 300px;
  height: 200px;
	line-height: 200px;

	font-family: 'Century Gothic';
	color: #ffffff;
  font-size: 2em;
  text-align: center;
	margin: 10px;
}
.kampagnebaggrund {
  background: #F3F1EF;
	padding: 9px;
  width: 300px;
  height: 200px;

	line-height: 200px;
  font-family: 'Century Gothic';
	color: #000000;
  font-size: 2em;
  text-align: center;
	margin: 10px;
	border: 1px solid black;
}
.footer {
  background: #f6f6f6;
  padding: 9px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #000000;
  font-size: 2em;
  text-align: center;
	margin: 10px;
	border: 1px solid black;
}
.hvid {
  background: #ffffff;
  padding: 9px;
  width: 300px;
  height: 200px;

	line-height: 200px;
	font-family: 'Century Gothic';
	color: #000000;
  font-size: 2em;
  text-align: center;
	margin: 10px;
	border: 1px solid black;
}

/* ------------------------------------------------NY SEKTION----------------------------------------------*/
/* Alle elementer til forsiden ligger under denne sektion*/

#introduktion{
	padding-top: 150px;
	height: 920px;
	background: #ffffff;
	display: inline-block;
	width: 100%;
}

#introduktion h1 {
	margin: 0;
	padding-top: 20px;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 45pt;
	font-weight: 600;
}
#introduktion h2 {
	margin: 60px 0 0 0;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 20pt;
	font-weight: 300;
}
#introduktion h3 {
	margin: 50px 0 0 0;
	text-align: center;
	font-family: 'Century Gothic';
	color:#000000;
	font-size: 20pt;
	font-weight: 700;
}

.flex-container-introduktion {
  display: flex;
  justify-content: center;
	padding-top: 60px;
}

.logomatas {
	display: block;
  margin: 0;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 15px;
	height: 50px;
	width: 209px;
}

.UCL-Logo {
	height: 91px;
	width: 114px;
	display: block;
  margin: 0;
	padding-left: 80px;
	padding-right: 80px;
}

.hesehuslogo {
	height: 195px;
	width: 251px;
	display: block;
  margin: 0;
	padding-left: 40px;
	padding-top: 20px;
}

/* ------------------------------------------Pil op øverst på siden----------------------------------------*/
.pilop{
	width: 5%;
	padding-right: 50px;
	float: right;
}
